{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Bingo{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/index.css' %}">
    {% block extraheaders %}{% endblock %}
  </head>
  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-item brand-text">
            BaeNaeNae Bingo
          </span>
          <button class="button navbar-burger is-primary" data-target="navbar-menu">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="navbar-menu" id="navbar-menu">
          {% if user.is_authenticated %}
          <span class="navbar-item">{{ user.get_full_name }}</span>
          <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a class="navbar-item" href="{% url 'login' %}">Login</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container">
      {% for message in messages %}
      <div class="notification is-{{ message.tags }}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      {% block content %}{% endblock %}
    </div>
    <footer class="footer is-size-7 has-text-centered">
      <div class="container">
        Version {{ version }}
      </div>
    </footer>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {

              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>
  </body>
</html>