[submodule "utilities/frontend/primer"]
	path = utilities/frontend/primer
	url = https://github.com/primer/primer-css.git
[submodule "utilities/frontend/bulma"]
	path = utilities/frontend/bulma
	url = https://github.com/jgthms/bulma.git
