{% extends 'base.html' %}

{% block content %}
<h1 class="title">Which week?</h1>
<p class="subtitle">Pick the week that you want to see</p>
<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    {% for card in cards %}
    <div class="card">
      <header class="card-header">
        <a class="card-header-title" href="{% url 'card' card.week.pk %}">
          {{ card.week.start|date }} to {{ card.week.end|date }}
        </a>
        {% if card.is_active %}
        <span class="tag is-primary">Active</span>
        {% endif %}
      </header>
      <div class="card-content">
        <div class="content">
          {{ card }}
        </div>
      </div>
      {% if card.week.winner %}
      <div class="card-footer">
        <span class="card-footer-item">
          Won by {{ card.week.winner.get_full_name }}
        </span>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}