{% extends 'base.html' %}

{% block content %}
<h1 class="title">Section E Bingo!</h1>
<div class="columns">

  <div class="column">
    <h2 class="title is-4">Your bingo cards</h2>
    {% for card in cards %}
    <div class="card">
      <header class="card-header">
        <a class="card-header-title" href="{% url 'card' card.week.pk %}">
          {{ card.week.start|date }}
        </a>
        {% if card.is_active %}
        <span class="tag is-primary">Active</span>
        {% endif %}
      </header>
      <div class="card-content">
        <div class="content">
          {{ card }}
        </div>
      </div>
      {% if card.week.winner %}
      <div class="card-footer">
        <a class="card-footer-item" href="{% url 'winner' card.week.pk %}">
          <strong>Won by {{ card.week.winner.get_full_name }}</strong>
        </a>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <div class="column">
    <h2 class="title is-4">Center square ideas</h2>
    {% include 'ideas/partials/center_square_idea_form.html' %}
    <div id="center_square_ideas">
      {% for idea in center_square_ideas %}
      {% include 'ideas/partials/center_square_idea.html' %}
      {% endfor %}
    </div>
  </div>

  <div class="column">
    <h2 class="title is-4">Bingo square ideas</h2>

    <div id="square_ideas">

    </div>
  </div>

</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
/* New center square idea */
$('#center_square_idea_form').on('submit', function(event){
  event.preventDefault();
  $.ajax({
    url: "{% url 'ajax_new_center_square_idea' %}",
    type: "GET",
    data: {
      content: $('#center_square_idea_content').val()
    },
    success: function(data) {
      $('#center_square_idea_content').val('');
      $('#center_square_ideas').prepend(data.content);
    }
  });
});

/* New bingo square idea */
$('#square_idea_form').on('submit', function(event){
  event.preventDefault();
  $.ajax({
    url: "{% url 'ajax_new_square_idea' %}",
    type: "GET",
    data: {
      content: $('#square_idea_content').val()
    },
    success: function(data) {
      $('#square_idea_content').val('');
      $('#square_ideas').prepend(data.content);
    }
  });
});

/* New center square vote */

/* New square vote */
</script>
{% endblock %}