{% extends 'base.html' %}

{% load utility_tags %}

{% block title %}Bingo | Log In{% endblock %}

{% block content %}
<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <h1 class="title">Login</h1>
    <p class="subtitle">Enter an email to have a login link emailed to you</p>
    <form method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <ul class="list-group">
        {% for error in form.non_field_errors %}
        <li class="list-group-item list-group-item-danger">
          {{ error }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% for field in form %}
      <div class="field">
        <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.help_text %}
        <small class="text-gray">
          {{ field.help_text|safe }}
        </small>
        {% endif %}
        {{ field|add_css:'input' }}
      </div>
      {% endfor %}
      <button type="submit" class="button is-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}